body {
    background-color: #272727;
    color: #d5d5d5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00c26a;
    font-family: Hack;
}

.header-nav__links {
    margin-right: 4px;
    color: #00c26a;
}

.margin__text {
    margin-bottom: 70px;
}

.padding__container {
    margin-top: 130px;
    padding: 0 150px 0 150px;
}

.hero__container {
    margin-top: 237px;
}

.hero__title {
    font-size: 22px;
}

.hero__descr,
.hero__name {
    font-size: 40px;
    color: #d5d5d5;
}

.hero__descr {
    color: #ffc107;
}

.hero__about {
    font-size: 20px;
    width: 670px;
    margin-top: 30px;
}

.about {
    margin-top: 400px;
}

.about__skills {
    list-style: none;
    column-count: 3;
    height: 70px;
}

.about__list::before {
    content: '▹';
    color: #64ff7e;
    line-height: 12px;
    margin-right: 5px;
}

.photo__card {
    width: 380px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 10px 10px 50px black;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.about__photo::after {
    content: '';
    position: relative;
    display: block;
    bottom: 430px;
    left: 30px;
    width: 380px;
    height: 452px;
    z-index: -1;
    border-radius: 10px;
    border: #64ff7e 2px solid;
    box-shadow: 10px 5px 25px black;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.about__container {
    height: 530px;
}

.about__us::before {
    content: '';
    font-size: 22px;
    color: #64ff7e;
}

.about__us::after {
    content: '';
    display: block;
    position: relative;
    left: 160px;
    top: -20px;
    width: 290px;
    height: 1px;
    background-color: #64ff7e;
}

.about {
    margin-bottom: 300px;
}

.skills__title::before {
    content: '';
    font-size: 22px;
    color: #64ff7e;
}

.skills__title::after {
    content: '';
    display: block;
    position: relative;
    left: 140px;
    top: -20px;
    width: 290px;
    height: 1px;
    background-color: #64ff7e;
}

.skills__icon {
    width: 65px;
    margin: 10px;
    margin-top: 30px;
}

.skills__list {
    padding: 0;
    display: flex;
    list-style: none;
    width: 707px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.skills__list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.skills__list > li:hover {
    transform: scale(1.2);
}

.skills__block {
    padding: 0;
    margin: 0;
}

.footer__text {
    font-size: 10px;
}

.footer__contacts {
    position: fixed;
    left: 55px;
    bottom: 130px;
}

.footer__nav li {
    list-style: none;
}

.footer__nav li:not(:first-child) {
    margin-top: 20px;
}

.footer__nav::after {
    content: '';
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 230px;
    height: 1px;
    rotate: 90deg;
    background-color: #d5d5d5;
}

.footer__email {
    position: fixed;
    right: 10px;
    bottom: 230px;
}

.footer__email a {
    text-decoration: none;
    color: #d5d5d5;
    font-size: 14px;
    letter-spacing: 3px;
}

.email__mail {
    rotate: 90deg;
    text-decoration: none;
}

.footer__email::after {
    rotate: 90deg;
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    right: -8px;
    width: 250px;
    height: 1px;
    background-color: #d5d5d5;
}

.jobs__title::after {
    content: '';
    display: block;
    position: relative;
    left: 160px;
    top: -20px;
    width: 270px;
    height: 1px;
    background-color: #64ff7e;
}

.work__title::after {
    content: '';
    display: block;
    position: relative;
    left: 240px;
    top: -20px;
    width: 170px;
    height: 1px;
    background-color: #64ff7e;
}

.jobs__btn {
    width: 270px;
    background-color: #ffc107;
}

.jobs__btn a {
    text-decoration: none;
    color: black;
}

.card-body {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.project__img {
    width: 100%;
    border-radius: 15px;
    height: 200px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.jobs__card {
    border-radius: 15px;
    background-color: transparent;
    border: 0.1px solid rgba(138, 138, 138, 0.5);
}

.jobs__content {
    margin-bottom: 50px;
}

.card__wrapper {
    padding: 12px;
}

.project__link {
    padding: 0 15px 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.project__link-preview,
.project__link-code {
    text-decoration: none;
    color: #d5d5d5;
}

.project__link-preview::before {
    content: '';
    display: block;
    background-image: url('../img/social/link.svg');
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project__link-code::before {
    content: '';
    display: block;
    background-image: url('../img/social/github.svg');
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
