@font-face {
    font-family: 'TeXGyreCursor';
    src: url('TeXGyreCursor-Bold.eot');
    src: local('TeXGyreCursor-Bold'),
        url('TeXGyreCursor-Bold.eot?#iefix') format('embedded-opentype'),
        url('TeXGyreCursor-Bold.woff2') format('woff2'),
        url('TeXGyreCursor-Bold.woff') format('woff'),
        url('TeXGyreCursor-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url('TeXGyreCursor-Regular.eot');
    src: local('TeXGyreCursor-Regular'),
        url('TeXGyreCursor-Regular.eot?#iefix') format('embedded-opentype'),
        url('TeXGyreCursor-Regular.woff2') format('woff2'),
        url('TeXGyreCursor-Regular.woff') format('woff'),
        url('TeXGyreCursor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url('TeXGyreCursor-BoldItalic.eot');
    src: local('TeXGyreCursor-BoldItalic'),
        url('TeXGyreCursor-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TeXGyreCursor-BoldItalic.woff2') format('woff2'),
        url('TeXGyreCursor-BoldItalic.woff') format('woff'),
        url('TeXGyreCursor-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url('TeXGyreCursor-Italic.eot');
    src: local('TeXGyreCursor-Italic'),
        url('TeXGyreCursor-Italic.eot?#iefix') format('embedded-opentype'),
        url('TeXGyreCursor-Italic.woff2') format('woff2'),
        url('TeXGyreCursor-Italic.woff') format('woff'),
        url('TeXGyreCursor-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

