@font-face {
    font-family: 'NimbusRomMonM';
    src: url('NimbusRomMonM-Reg.eot');
    src: local('NimbusRomMonM'), local('NimbusRomMonM-Reg'),
        url('NimbusRomMonM-Reg.eot?#iefix') format('embedded-opentype'),
        url('NimbusRomMonM-Reg.woff2') format('woff2'),
        url('NimbusRomMonM-Reg.woff') format('woff'),
        url('NimbusRomMonM-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NimbusRomMonM';
    src: url('NimbusRomMonM-BolIta.eot');
    src: local('NimbusRomMonM Bold Italic'), local('NimbusRomMonM-BolIta'),
        url('NimbusRomMonM-BolIta.eot?#iefix') format('embedded-opentype'),
        url('NimbusRomMonM-BolIta.woff2') format('woff2'),
        url('NimbusRomMonM-BolIta.woff') format('woff'),
        url('NimbusRomMonM-BolIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NimbusRomMonM';
    src: url('NimbusRomMonM-RegIta.eot');
    src: local('NimbusRomMonM Italic'), local('NimbusRomMonM-RegIta'),
        url('NimbusRomMonM-RegIta.eot?#iefix') format('embedded-opentype'),
        url('NimbusRomMonM-RegIta.woff2') format('woff2'),
        url('NimbusRomMonM-RegIta.woff') format('woff'),
        url('NimbusRomMonM-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NimbusRomMonM';
    src: url('NimbusRomMonM-Bol.eot');
    src: local('NimbusRomMonM Bold'), local('NimbusRomMonM-Bol'),
        url('NimbusRomMonM-Bol.eot?#iefix') format('embedded-opentype'),
        url('NimbusRomMonM-Bol.woff2') format('woff2'),
        url('NimbusRomMonM-Bol.woff') format('woff'),
        url('NimbusRomMonM-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

